@font-face {
    font-family: 'AsapRegular';
    src: url('../fonts/Asap-Regular.ttf');
}
@font-face {
    font-family: 'AsapBold';
    src: url('../fonts/Asap-Bold.ttf');
}

@font-face {
    font-family: 'InterRegular';
    src: url('../fonts/Inter-Regular.ttf');
}
@font-face {
    font-family: 'InterBold';
    src: url('../fonts/Inter-Bold.ttf');
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

body{
  background-color: #ecebf3;
}


.div-logo-marca{
  
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;


}
.div-logo-marca .logo-marca img{
  height: 35px;
  width: 35px;
  
  
} 

/*-------------- PERFIL AREA ---------------*/




/*--------------------------------- HEADER PERFIL ---------------------------------*/

.container{
  width: 100%;
  height: auto;

}

.container .area-perfil{
  overflow: auto;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  height: 100vh;
  
  
}
.container .area-perfil .box-perfil{
  display: flex;
  flex-direction:column;
  margin-bottom: 5rem;
}

.container .area-perfil .box-perfil .area-bio .bio >p{
  margin: 0;
  color: #664187;
  font-family: 'InterRegular';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 23px;
  margin-bottom:-2px;
}

.container .area-perfil .informacao-perfil{
  display: inline-block;
  flex-direction: column;
  justify-content: space-around;
}

.container .area-perfil .papel-parede-img-perfil .papel-parede-img{
  width: 100%;
  height: auto;
  z-index: -1;
  margin-bottom: 5px;
  border-radius: 8px;
}


.container .area-perfil .informacao-perfil .papel-parede-img-perfil{
  position: sticky;
}

.container .area-perfil .informacao-perfil .papel-parede-img-perfil .perfil-img {
  position: absolute;
  bottom: -8.5rem;
  left: 0;
  width: 13vw;
  height: 16rem;
  z-index: 1;
}

.container .area-perfil .informacao-perfil .desc-perfil{
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 3.5rem;
    margin-right: 2px;
    margin-bottom: -4px;
    

}

.container .area-perfil .informacao-perfil .seguindo-seguidores{
  display: flex;
    justify-content: space-around;
}

.container .area-perfil .informacao-perfil .seguindo-seguidores .seguindo{
  margin-right: 20px;
}

.container .area-perfil .informacao-perfil .seguindo-seguidores .seguindo .seguindo-numero >p{
  font-style: normal;
  font-size: small;
  font-weight: bold;
  margin: 2px;
 
}


.container .area-perfil .informacao-perfil .seguindo-seguidores .seguindo .seguindo-text >h1{
  font-style: normal;
font-weight: 600;
font-size: 0.9rem;
  


}

.container .area-perfil .informacao-perfil .seguindo-seguidores .seguidores .seguidores-numero >p{
  font-style: normal;
  font-size: small;
  font-weight: bold;
  margin: 2px;
}

.container .area-perfil .informacao-perfil .seguindo-seguidores .seguidores .seguidores-text >h1{
font-style: normal;
font-weight: 600;
font-size: 0.9rem;
  
}

.container .area-perfil .informacao-perfil .desc-perfil .div-btn-editar-perfil .btn-editar-perfil{
  background: #664187;
  border-radius: 12.3967px;
  border: none;
  color: #fff;
  font-family: 'InterRegular', sans-serif;
  font-size: 10px;
  text-align: center;
  line-height: 0.89rem;
  font-weight: 500;
  width: 5.7rem;
}

.container .area-perfil .informacao-perfil .desc-perfil .div-btn-editar-perfil .btn-editar-perfil:hover{
  background-color: #815ba3;
  
}

.container .area-perfil .area-nick-nome{
  display: flex;
  flex-direction: row;
  margin-top: -6px;
  margin-left: -1px;
  margin-bottom: -8px;
}

.container .area-perfil .area-nick-nome .nick> h1{
  font-size: calc(0.390rem + 1.5vw);
  margin-bottom: -0.5px;
  font-weight: bold;
}
.container .area-perfil .area-nick-nome .nome> h1{
  font-size: calc(0.390rem + 1.5vw);
  color:#5B5B5B;
}

/*------------------------------------- ATIVIDADE E EVENTO ----------------------------*/

.container .area-perfil .box-perfil .box-atividade-eventos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .area-perfil .box-perfil .box-atividade-eventos .titulo-atividade{
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-top: -1rem;
    margin-bottom: 1.3rem
}

.container .area-perfil .box-perfil .box-atividade-eventos .titulo-atividade >h1{
  font-size: 1rem;

}

.container .area-perfil .box-perfil  .box-atividade-eventos .box-atividade{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container .area-perfil .box-perfil .box-atividade-eventos .titulo-box-evento{
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.container .area-perfil .box-perfil .box-atividade-eventos .titulo-box-evento >h1{
  font-size: 1rem;

}


.container .area-perfil .box-perfil .box-atividade-eventos .box-eventos{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container .area-perfil .box-perfil .box-atividade-eventos .box-eventos .evento{
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #82BADE;
    border-radius: 9px;
    /* width: 25rem; */
    height: 6rem;
    padding: 15px;
    margin-bottom: 30px;

}

.container .area-perfil .box-perfil .box-atividade-eventos .box-eventos .evento .img-evento img{
  width: 12rem;
  
}
.container .area-perfil .box-perfil .box-atividade-eventos .box-eventos .evento .box-desc-evento{
  margin-left: 25px;
}

.container .area-perfil .box-perfil .box-atividade-eventos .box-eventos .evento .box-desc-evento .desc-evento{
  overflow: auto;
  width: 7rem;
  display: flex;
  height: 5rem;
  border-radius: 15px;
  background-color: #fff;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  /* padding-left: 10px; */
  align-content: center;
}

.container .area-perfil .box-perfil .box-atividade-eventos .box-eventos .evento .box-desc-evento .desc-evento >h1{
  font-size: 0.8rem;
  font-family: 'InterRegular';
  font-style: normal;
  font-weight: 700;
  line-height: 13px;
  color: #121214;
}

.container .area-perfil .box-perfil .box-atividade-eventos .box-eventos .evento .box-desc-evento .desc-evento >h2{
  word-wrap: break-word;
  font-size: 0.65rem;
  font-family: 'OmterRegular';
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  color: #8C8C8C

}



.mobile-nav {
  background: #ecebf3;
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.bloc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc-icon img {
  width: 30px;
}

@media screen and (min-width: 600px) {
  .mobile-nav {
  display: none;
  }
}

